absl-py==1.4.0
accelerate==0.14.0
addict==2.4.0
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
albumentations==1.3.1
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.16.1
altair==5.0.1
aniso8601==9.0.1
antlr4-python3-runtime==4.9.3
anyio==3.7.0
anykeystore==0.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astunparse==1.6.3
async-timeout==4.0.2
attrdict==2.0.1
attrs==23.1.0
audioread==3.0.0
av==10.0.0
backports.zoneinfo==0.2.1
basicsr==1.4.2
beautifulsoup4==4.12.2
black==23.3.0
bleach==6.0.0
blis==0.7.9
blobfile==2.0.2
bmt-clipit==1.0
boto3==1.26.164
botocore==1.29.164
Brotli==1.0.9
brotlipy==0.7.0
cachetools==5.3.1
catalogue==2.0.8
cfgv==3.3.1
chumpy==0.70
click==8.1.3
clip==1.0
cmake==3.25.0
colorama==0.4.6
coloredlogs==15.0.1
commonmark==0.9.1
confection==0.0.4
contextlib2==21.6.0
control-ldm==0.0.1
cpm-kernels==1.0.11
crcmod==1.7
cryptacular==1.6.2
cuda-python==12.2.0
cycler==0.11.0
cymem==2.0.7
Cython==3.0.0
datasets==2.8.0
ddpm-guided-diffusion==0.0.0
decorator==4.4.2
deepspeed==0.10.0
defusedxml==0.7.1
descartes==1.1.0
diffusers==0.11.1
dill==0.3.6
Distance==0.1.3
distlib==0.3.6
dlib==19.24.2
dnspython==2.4.0rc1
docker==6.0.1
docker-squash==1.1.0
easydict==1.10
easyrobust==0.2.4
edit-distance==1.0.6
editdistance==0.6.2
einops==0.6.1
en-core-web-sm==3.4.0
espnet-tts-frontend==0.0.3
et-xmlfile==1.1.0
eventlet==0.33.3
exceptiongroup==1.1.1
expecttest==0.1.4
face-alignment==1.4.0
facexlib==0.3.0
fairscale==0.4.13
fastai==2.7.12
fastapi==0.100.0
fastcore==1.5.29
fastdownload==0.0.7
fastjsonschema==2.17.1
fastprogress==1.0.3
ffmpeg==1.4
ffmpeg-python==0.2.0
ffmpy==0.3.1
filelock==3.12.2
filterpy==1.4.5
fire==0.5.0
flake8==6.0.0
Flask==2.1.3
Flask-Cors==4.0.0
Flask-RESTful==0.3.10
Flask-SocketIO==4.3.2
flask-talisman==1.0.0
flatbuffers==2.0.7
fonttools==4.40.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.6.0
ftfy==6.1.1
funasr==0.6.8
funasr-onnx==0.1.1
future==0.18.3
fvcore==0.1.5.post20221221
g2p==1.1.20230511
g2p-en==2.1.0
gast==0.4.0
gevent==23.7.0
geventhttpclient==2.0.2
gfpgan==1.3.8
glfw==2.2.0
google-auth==2.21.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gradio==3.39.0
gradio_client==0.3.0
graphviz==0.20.1
greenlet==3.0.0a1
grpcio==1.57.0
grpcio-tools==1.4.0
h11==0.14.0
h5py==3.9.0
hjson==3.1.0
httpcore==0.17.3
httpx==0.24.1
huggingface-hub==0.15.1
humanfriendly==10.0
hupper==1.12
icetk==0.0.7
identify==2.5.24
imageio==2.9.0
imageio-ffmpeg==0.4.3
imgaug==0.4.0
imgui==1.3.0
importlib-metadata==6.7.0
importlib-resources==5.12.0
inflect==7.0.0
iniconfig==2.0.0
iopath==0.1.10
ipython-genutils==0.2.0
ipywidgets==8.0.2
isoduration==20.11.0
isort==5.12.0
itsdangerous==2.1.2
jaconv==0.3.4
jamo==0.4.1
jax==0.4.13
jieba==0.42.1
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.3.0
jsonlines==3.1.0
jsonpointer==2.1
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_server==2.7.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
jwt==1.3.1
kaldi-native-fbank==1.17
kaldiio==2.18.0
keras==2.12.0
kiwisolver==1.4.4
kornia==0.6.12
langcodes==3.3.0
lap==0.4.0
largestinteriorrectangle==0.2.0
lazy_loader==0.2
libclang==16.0.0
librosa==0.8.1
lightning-utilities==0.8.0
linkify-it-py==2.0.2
lit==15.0.7
llvmlite==0.36.0
lmdb==1.4.1
loguru==0.7.0
lpips==0.1.4
lxml==4.9.2
lyft-dataset-sdk==0.0.8
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.5.2
mccabe==0.7.0
mdit-py-plugins==0.3.3
mdurl==0.1.2
mediapipe==0.10.3
Megatron==0.5.1
megatron-util==1.3.2
mistune==3.0.1
ml-collections==0.1.1
ml-dtypes==0.2.0
mmcls==0.25.0
mmdet==2.28.2
mmdet3d==1.0.0a1
mmsegmentation==0.30.0
mock==5.0.2
modelscope==1.7.1
moviepy==1.0.3
mpmath==0.19
mrcfile==1.4.3
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.14
munch==4.0.0
munkres==1.1.4
murmurhash==1.0.9
mypy-extensions==1.0.0
natsort==8.4.0
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.6.0
nbformat==5.9.0
nerfacc==0.2.2
networkx==2.8.4
ninja==1.11.1
nltk==3.8.1
nodeenv==1.8.0
notebook==6.5.4
notebook_shim==0.2.3
numba==0.53.1
numpy==1.23.4
nuscenes-devkit==1.1.10
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
nvtx==0.2.6
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.14.0
onnx-graphsurgeon==0.3.26
onnxconverter-common==1.14.0
onnxruntime-gpu==1.15.1
onnxsim==0.4.33
open-clip-torch==2.20.0
opencv-contrib-python==4.8.0.76
opencv-python==4.7.0.72
opencv-python-headless==4.7.0.72
opendatalab==0.0.9
openpyxl==3.2.0b1
opt-einsum==3.3.0
orjson==3.9.2
oss2==2.18.0
overrides==7.3.1
paint-ldm==0.0.0
pandas==1.5.1
pandocfilters==1.5.0
panopticapi==0.1
panphon==0.20.0
PasteDeploy==3.0.1
pathspec==0.11.1
pathy==0.10.2
pbkdf2==1.3
Pillow==9.3.0
pkgutil_resolve_name==1.3.10
plaster==1.1.2
plaster-pastedeploy==1.0.1
platformdirs==3.8.0
plotly==5.15.0
plyfile==0.9
pooch==1.6.0
portalocker==2.7.0
pre-commit==3.3.3
preshed==3.0.8
prettytable==3.8.0
proglog==0.1.10
prometheus-client==0.17.0
protobuf==3.20.2
py-cpuinfo==9.0.0
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
pybind11==2.10.4
pycocotools==2.0.6
pycodestyle==2.10.0
pycryptodome==3.18.0
pycryptodomex==3.18.0
pycuda==2022.2.2
pydantic==1.10.2
pydotz==1.5.1
pydub==0.25.1
pyflakes==3.0.1
PyMCubes==0.1.4
pynvml==11.5.0
PyOpenGL==3.1.5
pyparsing==3.1.0
pypinyin==0.49.0
pyquaternion==0.9.9
pyramid==2.0.1
pyramid-mailer==0.15.1
pyrsistent==0.19.3
pyspng==0.1.1
pytest==7.4.0
pythainlp==4.0.2
python-crfsuite==0.9.9
python-engineio==3.14.2
python-json-logger==2.0.7
python-multipart==0.0.6
python-rapidjson==1.10
python-slugify==8.0.1
python-socketio==4.6.1
python-speech-features==0.6
python3-openid==3.2.0
pytools==2023.1.1
pytorch-lightning==2.0.4
pytorch-wpe==0.0.1
pytz==2023.3
pyvi==0.1.1
PyWavelets==1.4.1
pyworld==0.3.4
PyYAML==6.0
qtconsole==5.4.3
QtPy==2.3.1
qudida==0.0.4
regex==2023.3.23
repoze.sendmail==4.4.1
requests==2.31.0
requests-oauthlib==1.3.1
resampy==0.4.2
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==12.6.0
rouge==1.0.1
rsa==4.9
s3transfer==0.6.1
sacremoses==0.0.53
safetensors==0.3.1
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.9.1
seaborn==0.12.2
semantic-version==2.10.0
Send2Trash==1.8.2
sentencepiece==0.1.98
seqeval==1.2.2
Shapely==1.8.5
shotdetect-scenedetect-lgss==0.0.4
simplejson==3.19.1
sk-video==1.1.10
sklearn-crfsuite==0.3.6
smart-open==6.3.0
smplx==0.1.28
snakeviz==2.2.0
sniffio==1.3.0
sortedcontainers==2.4.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.4.1
soxr==0.3.5
spacy==3.4.4
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==2.0.19
srsly==2.4.6
starlette==0.27.0
stitching==0.4.0
stochasticx==0.0.19
subword-nmt==0.3.8
sympy==1.11.1
tabulate==0.9.0
tb-nightly==2.14.0a20230808
tenacity==8.2.2
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorboardX==2.6.2.2
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
tensorwatch==0.9.1
termcolor==2.3.0
terminado==0.17.1
terminaltables==3.1.10
text-unidecode==1.3
TextGrid==1.5
tf-slim==1.1.0
tf2onnx==1.14.0
thinc==8.1.10
threadpoolctl==3.1.0
tifffile==2023.4.12
timm==0.5.4
tinycss2==1.2.1
tokenizers==0.13.3
tomli==2.0.1
torch==2.0.1
torch-complex==0.4.3
torch-ema==0.3
torchaudio==2.0.2
torchmetrics==0.11.4
torchsummary==1.5.1
torchvision==0.15.2
tqdm==4.66.1
transaction==3.1.0
transformers==4.25.1
translationstring==1.4
trimesh==2.35.39
triton==2.0.0
triton-model-navigator==0.7.0
tritonclient==2.36.0
typeguard==2.13.3
typer==0.7.0
typing_extensions==4.7.1
tzdata==2023.3
uc-micro-py==1.0.2
ujson==5.8.0
ultralytics==8.0.154
unicodecsv==0.14.1
Unidecode==1.3.6
uri-template==1.3.0
utils==1.0.1
uvicorn==0.23.1
velruse==1.1.1
venusian==3.0.0
videofeatures-clipit==1.0
virtualenv==20.23.1
wasabi==0.10.1
webcolors==1.13
webencodings==0.5.1
WebOb==1.8.7
webrtcvad==2.0.10
websocket-client==1.6.1
websockets==11.0.3
Werkzeug==2.0.3
widgetsnbextension==4.0.7
wrapt==1.14.1
WTForms==3.0.1
wtforms-recaptcha==0.3.2
xxhash==3.2.0
yacs==0.1.8
yapf==0.30.0
yarl==1.9.2
zhconv==1.4.3
zope.deprecation==5.0
zope.event==5.0
zope.interface==6.0
zope.sqlalchemy==3.0
